In [17]:
##Creating Dictioary
empty_dict={}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [18]:
empty_dict=dict()
empty_dict

{}

In [19]:
student={"name":"John", "age":25, "course":["Math", "CompSci"]}
print(student)
print(student["name"])
print(student.get("age"))
print(student.get("phone", "Not Found"))
print(student.keys())
print(student.values())
print(student.items())
student["phone"]="555-5555"
print(student.get("phone", "Not Found"))
student.update({"name":"Jane", "age":22, "phone":"555-5555"})
print(student)
student.pop("age")
print(student)
student.popitem()
print(student)

{'name': 'John', 'age': 25, 'course': ['Math', 'CompSci']}
John
25
Not Found
dict_keys(['name', 'age', 'course'])
dict_values(['John', 25, ['Math', 'CompSci']])
dict_items([('name', 'John'), ('age', 25), ('course', ['Math', 'CompSci'])])
555-5555
{'name': 'Jane', 'age': 22, 'course': ['Math', 'CompSci'], 'phone': '555-5555'}
{'name': 'Jane', 'course': ['Math', 'CompSci'], 'phone': '555-5555'}
{'name': 'Jane', 'course': ['Math', 'CompSci']}

In [20]:
#two same key
student={"name":"sehaj","age":21,"name":12}
print(student)

{'name': 12, 'age': 21}

In [21]:
student1={"name":"John", "age":25, "grade":"A"}
student2=student1
print(student2)
student2=student1.copy()
student2["grade"]="B"
print(student1)
print(student2)

{'name': 'John', 'age': 25, 'grade': 'A'}
{'name': 'John', 'age': 25, 'grade': 'A'}
{'name': 'John', 'age': 25, 'grade': 'B'}

In [24]:
for key in student1:
    print(key)

name
age
grade

In [28]:
for value in student1.values():
    print(value)

John
25
A

In [29]:
for value in student1.values():
    print(value)

John
25
A

In [31]:
for key,value in student1.items():
    print(key,value)

name John
age 25
grade A

In [39]:
# nested dictionary
students = {
    "student1": {
        "name": "Sehaj",
        "age": 21,
        "gender": "male",
        "marks": 90
    },
    "student2": {
        "name": "Prem",
        "age": 22,
        "gender": "male",
        "marks": 80
    },
    "student3": {
        "name": "Madhav",
        "age": 21,
        "gender": "male",
        "marks": 70
    }
}

print(students)

{'student1': {'name': 'Sehaj', 'age': 21, 'gender': 'male', 'marks': 90}, 'student2': {'name': 'Prem', 'age': 22, 'gender': 'male', 'marks': 80}, 'student3': {'name': 'Madhav', 'age': 21, 'gender': 'male', 'marks': 70}}

In [40]:
print(students["student2"]["marks"])
print(students["student1"]["marks"])

80
90

In [41]:
for studentID,studentInfo in students.items():
    for key,value in studentInfo.items():
        print(key,value)

name Sehaj
age 21
gender male
marks 90
name Prem
age 22
gender male
marks 80
name Madhav
age 21
gender male
marks 70

In [42]:
##Dictionary Comprehension
squares={x:x**2 for x in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [43]:
#condition Dictionary Comprehension
evens={x:x**2 for x in range(1,11) if x%2==0}
print(evens)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [46]:
#Practical Examples

#Use a Dictionary to count the frequency of elements in a list

numbers = [1,2,2,2,3,3,3,3,4,5,5,5,6,6,6,6,6,7,7,8]

frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

print(frequency)

{1: 1, 2: 3, 3: 4, 4: 1, 5: 3, 6: 5, 7: 2, 8: 1}

In [ ]:
##Merge 2 Dictinaries into one

dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict3={"e":5,"f":6}

print(dict1|dict2|dict3)
print(dict1.update(dict2))
print(dict1)
merged = {**dict1, **dict2, **dict3}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
None
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

TypeError: unsupported operand type(s) for ** or pow(): 'dict' and 'dict'