In [9]:
##Create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [10]:
##Create a set
my_empty_set={}
print(my_empty_set)
print(type(my_empty_set))

{}
<class 'dict'>

In [11]:
my_empty_set=set([1,2,3,5,6,7])
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 5, 6, 7}
<class 'set'>

In [13]:
my_empty_set=set([1,2,3,5,6,7])
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 5, 6, 7}
<class 'set'>

In [14]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [15]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

In [16]:
my_set.discard(11)#will only remove 11 if it is present and if it is no present it will not give an error
print(my_set)

{1, 2, 4, 5, 6}

In [20]:
##Create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [21]:
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [22]:
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [26]:
my_set1={1,2,3,4,5}
my_set2={6,7,8,9,0}
union_set=my_set1.union(my_set2)
print(union_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
my_set1={1,2,3,4,5,6,9}
my_set2={6,7,8,9,0}
union_set=my_set1.union(my_set2)
print(union_set)
intersection_set=my_set1.intersection(my_set2)
print(intersection_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 6}

In [30]:
difference_set=my_set1.difference(my_set2)
print(difference_set)

{1, 2, 3, 4, 5}

In [31]:
difference_set=my_set2.difference(my_set1)
print(difference_set)

{0, 8, 7}

In [32]:
print(my_set1.symmetric_difference(my_set2))

{0, 1, 2, 3, 4, 5, 7, 8}

In [34]:
set1={1,2,3}
set2={3,4,5}

print(set1.issubset(set2))
print(set2.issuperset(set1))

False
False

In [35]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [36]:
#Counting Unique words in text

text="Is this tutorial we are discussing about sets"
words=text.split()

#converts list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'discussing', 'Is', 'tutorial', 'sets', 'this', 'are', 'we'}
8