In [7]:
class Student:
    name="Sehajdeep Singh"

s1=Student()
print(s1)
print(s1.name)

<__main__.Student object at 0x000001805DFC6270>
Sehajdeep Singh

In [10]:
class Car:
    color="blue"
    company="Tesla"
c1=Car()
print(c1)
print(c1.color)
print(c1.company)

<__main__.Car object at 0x00000180606334D0>
blue
Tesla

In [12]:
'''Constructor or __init__ function'''
'''Invoked at the moment of object creation'''
class Student:
    def __init__(self):
        print("Adding new student in database...")
    name="Sehajdeep"

s1=Student()

Adding new student in database...

In [16]:
'''Constructor or __init__ function'''
'''Invoked at the moment of object creation'''
class Student:
    name="Sehajdeep"
    def __init__(self):
        print(self)
        print("Adding new student in database...")

s1=Student()

<__main__.Student object at 0x0000018060632A50>
Adding new student in database...

In [17]:
'''Constructor or __init__ function'''
'''Invoked at the moment of object creation'''
class Student:
    name="Sehajdeep"
    def __init__(self,fullname):
        self.name=fullname
        print(self)
        print("Adding new student in database...")

s1=Student("Karan")
print(s1.name)

<__main__.Student object at 0x0000018060631FD0>
Adding new student in database...
Karan

In [20]:
'''Constructor or __init__ function'''
'''Invoked at the moment of object creation'''
class Student:
    def __init__(self,fullname):
        self.name=fullname
        print("Adding new student in database...")

s1=Student("Karan")
print(s1.name)
s2=Student("Arjun")
print(s2.name)

Adding new student in database...
Karan
Adding new student in database...
Arjun

In [21]:
class Student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

s1=Student("Karan",88)
print(s1.name,s1.marks)
s2=Student("Arjun",79)
print(s2.name,s2.marks)

Karan 88
Arjun 79

In [ ]:
class Student:
    def __init__(self):
        pass #default Constructor
    def __init__(self,name,marks):
        #paramerized Constructors
        self.name=name
        self.marks=marks

s1=Student("Karan",88)
print(s1.name,s1.marks)
s2=Student("Arjun",79)
print(s2.name,s2.marks)

Karan 88
Arjun 79